<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>mdweb: <%= e @title %></title>
		<link rel="stylesheet" href="/style.css">
	</head>

	<body>
		<% crumb = uri.split('/').reject { |p| p == '' || p == '.' } %>
		<div class="box" id="crumb">
			<span class="crumb-path">
				/ <a href="/">[root]</a>
				<% crumb.each_with_index do |p, i| %>
					/
					<%= "<a href='/#{e crumb[0..i].join('/')}'>#{e p}</a>" %>
				<% end %>
			</span>

			<% if File.directory?(path) && uri != '' %>
				<form method="post" class="remove-dir">
					<%= Rack::Csrf.csrf_tag env %>
					<input type="hidden" name="_method" value="delete">
					<button class="btn">rmdir</button>
				</form>
			<% end %>
		</div>

		<% if session[:flash] && session[:flash].length > 0 %>
			<% session[:flash].each do |f| %>
				<div class="box flash <%= e f[1]%>"><%= e f[0] %></div>
			<% end %>
			<% session.delete :flash %>
		<% end %>

		<%= yield %>

		<script src="/script.js"></script>
		<footer><a href="http://code.arp242.net/markdown-web">markdown-web 1.0-BETA</a></footer>
	</body>
</html>
