<% unless Dir.exists? path %>
	<div>
		<p>
			This directory doesn't exist yet;
		</p>
		<form method="post">
			<input type="hidden" name="_method" value="put">
			<input type="hidden" name="type" value="dir">
			<input type="hidden" name="dir" value="<%= e uri %>">
			<button class="btn">Make it</button>
		</form>
	</div>
<% end %>

<ul class="listing">
	<% listing.each do |f| %>
		<li class="<% if f[0] %>dir<% end %>">
			<a href="<%= e f[1] %>"><%= e path_or_uri_to_title(f[1]) %></a>
		</li>
	<% end %>
</ul>

<% if Dir.exists? path %>
	<form method="post" class="box create-new">
		<input type="hidden" name="_method" value="put">
		Create new
		<select name="type">
			<option value="file">file</option>
			<option value="dir">directory</option>
		</select>
		in
		<select name="dir">
			<option value="<%= e uri %>">current directory</option>
			<% listing.each do |f| %>
				<% next unless f[0] %>
				<option value="<%= e f[1] %>"><%= e f[1] %></option>
			<% end %>
		</select>
		named
		<input type="text" name="name">
		<button class="btn">Make it so!</button>
	</form>
<% end %>
