<% unless Dir.exist? path %>
	<div>
		<p>
			This directory doesn’t exist yet;
		</p>
		<form method="post">
			<%= Rack::Csrf.csrf_tag env %>
			<input type="hidden" name="_method" value="put">
			<input type="hidden" name="type" value="dir">
			<input type="hidden" name="dir" value="<%= e uri %>">
			<button class="btn">Make it</button>
		</form>
	</div>
<% end %>

<ul class="listing">
	<% listing.each do |dir, files| %>
		<li>
			<a class="dir" href="<%= e dir %>"><%= e path_or_uri_to_title(dir) %></a>
			
			<ul>
				<% files.each do |f| %>
					<% t = path_or_uri_to_title(f).split('/') %>
					<li><a href="<%= e f %>"><span><%= e t[0..-2].join '/' %>/</span><%= e t.pop %></a></li>
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>

<% if Dir.exist? path %>
	<form method="post" class="box create-new">
		<%= Rack::Csrf.csrf_tag env %>
		<input type="hidden" name="_method" value="put">
		Create new
		<select name="type">
			<option value="file">file</option>
			<option value="dir">directory</option>
		</select>
		in
		<select name="dir">
			<option value="<%= e uri %>">current directory</option>
			<% listing.each do |dir, files| %>
				<option value="<%= e dir %>"><%= e dir %></option>
			<% end %>
		</select>
		named
		<input type="text" name="name">
		<button class="btn">Make it so!</button>
	</form>
<% end %>
