<h1><%= e path_or_uri_to_title(File.basename(path)).sub(/^\//, '') %></h1>

<% if writable == true %>
	<div class="buttons hidden-print">
		<% if File.exists? path %>
			<form method="post" class="remove-page">
				<%= Rack::Csrf.csrf_tag env %>
				<input type="hidden" name="_method" value="delete">
				<button class="btn"><%= _('Remove') %></button>
			</form>

			<a class="btn" href="/<%= e uri %>.log"><%= _('Log') %></a>

			<form method="post" class="mv-page">
				<%= Rack::Csrf.csrf_tag env %>
				<input type="hidden" name="mv-page" value="true">
				<input type="text" name="new-name" placeholder="New name" value=""><button class="btn"><%= _('Move') %></button>
			</form>
		<% end %>
	</div>
<% end %>

<div id="page"><%= html %></div>
<%# <div id="wmd-preview"><% html ></div> %>

<%# We the ?s to work around http://stackoverflow.com/q/27879100/660921 %>
<form method='post' class="markdown hidden-print" action="?s">
	<%= Rack::Csrf.csrf_tag env %>
	<input type="hidden" name="hash" value="<%= hash %>">
	<div id="wmd-button-bar"></div>
	<a href="/Special:help" target="_blank" class="markdown-help">Formatting help</a>
	<%# <div id="show-preview" class="btn">Enable preview</div> %>
	<textarea name="content" id="wmd-input"><%= e markdown %></textarea>

	<% if writable == true %>
		<button class="btn save-button">
			<% if File.exists? path %>
				Save
			<% else %>
				Create
			<% end %>
		</button>
	<% else %>
		<%= writable %>
	<% end %>
</form>

<% if new_content %>
	Your (unsaved) edits:
	<pre><%= new_content %></pre>
<% end %>

<script src="/contrib/pagedown/Markdown.Converter.js"></script>
<script src="/contrib/pagedown/Markdown.Sanitizer.js"></script>
<script src="/contrib/pagedown/Markdown.Editor.js"></script>
<script>
	var converter = Markdown.getSanitizingConverter()
	var editor = new Markdown.Editor(converter)
	editor.run()
</script>
